<div class="center-it">
  <h1 class="abel">Adventures!</h1>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p>
        Whatya building? Uhm, its just a little stick fort. Oh, rad! Look. Its just my size. Hey, get away from my fort, you big stinky monster! I like it when you get small, Jake. Yeah, me too. Whoa, whoa!
      </p>
      <p>
        Oh, dude. There's a note. What's it say? Hey, guys, I had to run out, but I'll be back, blee-bloo-blop, Don't go in my house. That's it? Yeah. Just Don't go in my house in all caps... written in blood.
      </p>
    </div>
  </div>
</div>
